body {
	background-color: rgb(255, 255, 255);
	color: #000000;
	transition: all 0.5s;
  }
  
  .navbar {
	background-color: #f9f9f9;
	transition: all 0.5s;
  font-family: 'Roboto Mono', monospace;
  }
  
  .nav-link {
	color: #000000;
  }
  
  .nav-link:hover {
	color: #000;
  }
  
  .btn btn-outline-dark {
	color: #000000;
	border-color: #000000;
  }
  
  .btn-outline:hover {
	color: #000000;
	background-color: #ffffff;
	border-color: #000000;
  }
  
  .card {
	background-color: #fff;
	color: #000000;
	transition: all 0.5s;
  font-family: 'Roboto Mono', monospace;
  box-shadow: 3px 3px #000000;
  border-radius: 30px;
  }
  
  .card-title {
	color: #000000;
  font-family: 'Roboto Mono', monospace;
  }
  
  .card-text {
	color: #000000;
  font-family: 'Roboto Mono', monospace;
  }
  
  .btn-primary {
	background-color: #000000;
	border-color: #000000;
  font-family: 'Roboto Mono', monospace;
  }
  
  .btn-primary:hover {
	background-color: #000;
	border-color: #000;
  }
  
  .loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10;
    background: #ffffff;
  }
  
  .animated-words {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #000000;
  }
  
  .animated-words span {
    display: inline-block;
    opacity: 0;
    animation-name: animateWords;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  .animated-words span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .animated-words span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .animated-words span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .animated-words span:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .animated-words span:nth-child(5) {
    animation-delay: 0.8s;
  }
  
  .animated-words span:nth-child(6) {
    animation-delay: 1s;
  }

  .animated-words span:nth-child(7) {
    animation-delay: 1.2s;
  }

  .animated-words span:nth-child(8) {
    animation-delay: 1.4s;
  }
  
  @keyframes animateWords {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    30% {
      opacity: 1;
      transform: translateY(0);
    }
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  h3 {
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-top: 30px;
  }
  
  h3 span {
    position: relative;
    animation: animate 1s;
  }
  
  @keyframes animate {
    0% {
      top: -50px;
    }
    100% {
      top: 0;
    }
  }
  
  .loading-text-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10;
    background: #ffffff;
  }
  
  .animated-words-2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: #000000;
  }
  
  .animated-words-2 span {
    display: inline-block;
    opacity: 0;
    animation-name: animateWords;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  .animated-words span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .animated-words span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .animated-words span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .animated-words span:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .animated-words span:nth-child(5) {
    animation-delay: 0.8s;
  }
  
  .animated-words span:nth-child(6) {
    animation-delay: 1s;
  }
  
  @keyframes animateWords {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    30% {
      opacity: 1;
      transform: translateY(0);
    }
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  h3 {
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-top: 30px;
  }
  
  h3 span {
    position: relative;
    animation: animate 1s;
  }
  
  @keyframes animate {
    0% {
      top: -50px;
    }
    100% {
      top: 0;
    }
  }
  
  